{% extends 'base.html' %}
{% block content %}

  <div class="columns is-mobile is-centered tab-area">
    <div id="suggestions">
      <span id="suggestionsHeader">Suggestions:</span>
      <span class="suggestGroup" id="similarSuggestions">
        Similar:
        {% if "gene_expression" in feature_types %}
        <span class="suggestButton" id="geneSimilar">Genes</span>
        {% endif %}
        {% if "chromatin_accessibility" in feature_types %}
        <span class="suggestButton" id="regionSimilar">Regions</span>
        {% endif %}
      </span>
      {% if "chromatin_accessibility" in feature_types %}
      <span class="suggestGroup" id="nearbySuggestions">
        Nearby:
        {% if "gene_expression" in feature_types %}
        <span class="suggestButton" id="geneNearby">Genes</span>
        {% endif %}
        <span class="suggestButton" id="regionNearby">Regions</span>
      </span>
      {% endif %}
      {% if tissues != [tissue] %}
      <span class="suggestGroup" id="tissueSuggestions">
        <span>Other tissues:</span>
        <span>
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="false" aria-controls="dropdown-menu">
                <span id="tissueSuggestionActive">{{ tissue }}</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for tiss in tissues %}
                <a id="suggest{{ tiss }}" href="#" class="dropdown-item suggestButton tissueSuggestion">
                  <span class=tissueIcon><img width="30px" src="/static/images/tissue_icons/{{ tiss }}.svg"></span><span class="tissueText">{{ tiss }}</span>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </span>
      </span>
      {% endif %}
    </div>
  </div>



  <div class="columns is-mobile is-centered tab-area plotButtons" style="margin: 0px;">
    <div class="field column is-one-quarter">
      <label class="label">Data values</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="cpmTab" class="is-active">
              <a id="CPMOnClick">{{ unit_measurement }}</a>
            </li>
            <li id="logTab">
              <a id="log10OnClick">Log10 [{{ unit_measurement_short }}]</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="field column is-one-quarter">
      <label class="label">Cell type/feature order</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="originalOrderTab" class="is-active">
              <a id="originalOnClick">Curated</a>
            </li>
            <li id="hierachicalTab">
              <a id="hClusterOnClick">Hierachical clustering</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="field column is-one-quarter">
      <label class="label">Heat/Dot</label>
      <div class="control">
        <div class="tabs is-toggle is-centered">
          <ul>
            <li id="heatTab" class="is-active">
              <a id="heatOnClick">Heatmap</a>
            </li>
            <li id="dotTab">
              <a id="dotOnClick">Dot plot</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Plots below -->
  <div class="container" id="dataDisplay">
    <div class="plotTarget" id="plotDiv"></div>   
  </div>

  <!-- tooltip (floating div) -->
  <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

  <script type="module" src="/js/measurement_species_comparison_1feature.js"></script>

{% endblock %}
